.board {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.cell {
  width: 40px;
  height: 40px;
  border: 1px solid #b4b4b4;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: white;
  color: #000;
}

.cell.selected {
  background: #ffe082;
  border-color: #f9a825;
}


.board .cell:nth-child(3n + 1) {
  border-left: 1px solid #555555;
}
.board .cell:nth-child(3n + 3) {
  border-right: 1px solid #555555;
}
.row:nth-child(3n + 1) .cell {
  border-top: 1px solid #555555;
}
.board .cell:nth-child(3n) {
  border-right: 1px solid #555555;
}
.row:nth-child(3n) .cell {
  border-bottom: 1px solid #555555;
}

/* .control-bar{
  display: flex;
  justify-content: space-between;
} */
.control-bar button{
  margin: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

